


 <!-- Theme Mode -->
 <div  [class.dark-mode]="themeService.isDarkMode">

	<!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="container my-0 containerfoottotal">

	<!-- Footer -->
	<footer
			class="text-center text-lg-start text-white footdo"
			
			>
	  <!-- Section: Social media -->
	  <section
			   class="d-flex justify-content-between navsocial"
			  >
		<!-- Left -->
		<div class="me-5">
		  <span>Get connected with us on social networks:</span>
		</div>
		<!-- Left -->
  
		<!-- Right -->
		<div>
		  <a href="" class=" me-3">
			<i class="fab fa-facebook-f soround1"></i>
		  </a>
		  <a href="" class=" me-4">
			<i class="fab fa-twitter soround2"></i>
		  </a>
		  <a href="" class=" me-4">
			<i class="fab fa-google soround3"></i>
		  </a>
		  <a href="" class=" me-4">
			<i class="fab fa-instagram soround4"></i>
		  </a>
		  <a href="" class=" me-4">
			<i class="fab fa-linkedin soround5"></i>
		  </a>
		  <a href="" class=" me-4">
			<i class="fab fa-github soround6"></i>
		  </a>
		</div>
		<!-- Right -->
	  </section>
	  <!-- Section: Social media -->
  
	  <!-- Section: Links  -->
	  <section class="container ">
		<div class="text-md-start mt-5 footcon linkfoot">
		  <!-- Grid row -->
		  <div class="row mt-3">
			<!-- Grid column -->
			<div class="col-md-3 col-lg-4 col-xl-3  mb-4 downcontentfoot">
			  <!-- Content -->
			  <h6 class="text-uppercase fw-bold ridhifoot" routerLink="/">RIDHI<span  class="tekfoot">TEK</span></h6>
			  <!-- <img src="https://s3-alpha-sig.figma.com/img/0d13/38b1/51608de8c9b119fa5fcfc056577dc6d7?Expires=1711929600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=VCR-FYLW4UYGXj~TO4YvsuO7S10G4mkmvoDYZ9an7qh8U1oIjvc1E1nE4hn8beG9jyxaUSLiNN1EcF-~373V4VzDdKyjHegZ~DnAwgI5rCIku6~BbuMmYxMOSQ8TVnoLXUK~PlJr9m~AgCRFuFxgJTr4sMrf2wJ-HWQxpvPSzoBbaXcEChYxSgRWxN7AppBAry58Hdp-nUlbYCsSmZDt5polZOglRozY2Kej2977DnxjKIf~ed8YrT08oMPuH2ODXFD5C9h2Bm7WFbe~niC3BzwdoXf3qRf9ccd~K1r8gC6B-FHFYYPbIBopHHVEla3i0~JyMY~axkZRewI36iUlvw__" alt="logo" height="130px" width="230px"> -->
			  <hr
				  class="mb-4 mt-0 d-inline-block mx-auto"
				  style="width: 60px; background-color: #7c4dff; height: 2px"
				  />
			  <p>
				#18, 3rd Floor, Gamma Block, Sigma Soft Tech Park, Whitefield, Bangalore – 560066.
			  </p>
			</div>
			<!-- Grid column -->
  
			<!-- Grid column -->
			<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
			  <!-- Links -->
			  <h6 class="text-uppercase fw-bold" routerLink="/">Home</h6>
			  <hr
				  class="mb-4 mt-0 d-inline-block mx-auto"
				  style="width: 30px; background-color: #7c4dff; height: 2px"
				  />
			  <p>
				<a href="#!" >Home</a>
			  </p>
			  <p>
				<a   routerLink="/Aboutus">About</a>
			  </p>
			  <p>
				<a href="#!"  routerLink="/Contact_Us">Contact</a>
			  </p>
			</div>
			<!-- Grid column -->
  
			<!-- Grid column -->
			<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
			  <!-- Links -->
			  <h6 class="text-uppercase fw-bold" routerLink="/Services">OUR SERVICES</h6>
			  <hr
				  class="mb-4 mt-0 d-inline-block mx-auto"
				  style="width: 30px; background-color: #7c4dff; height: 2px"
				  />
			  <p>
				<a href="#!"  routerLink="#">Digitalization</a>
			  </p>
			  <p>
				<a href="#!" routerLink="/application">Application</a>
			  </p>
			  <p>
				<a href="#!"  routerLink="/wavemaker">Wavemaker</a>
			  </p>
			</div>
			<!-- Grid column -->
  
			<!-- Grid column -->
			<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
			  <!-- Links -->
			  <h6 class="text-uppercase fw-bold">Domains</h6>
			  <hr
				  class="mb-4 mt-0 d-inline-block mx-auto"
				  style="width: 30px; background-color: #7c4dff; height: 2px"
				  />
			  <!-- <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
			  <p><i class="fas fa-envelope mr-3"></i> infoexample.com</p>
			  <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
			  <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p> -->
			  <p>
				<a href="#!"  routerLink="#">Payments</a>
			  </p>
			  <p>
				<a href="#!"  routerLink="#">Lendings</a>
			  </p>
			  <p>
				<a href="#!"  routerLink="#">Cards</a>
			  </p>
			</div>
			<!-- Grid column -->
		  </div>
		  <!-- Grid row -->
		</div>
	  </section>
	  <!-- Section: Links  -->
  
	  <!-- Copyright -->
	  <div
		   class="text-center p-3 footerunder">
		© 2024 Copyright:
		<a class="text-white" href="#"
		   >All Rights Reserved by Ridhitek Pvt. Ltd.</a
		  >
	  </div>
	  <!-- Copyright -->
	</footer>
	<!-- Footer -->
  
  </div>
  <!-- End of .container -->
  </div>


   