 <!-- Theme Mode -->
 <div  [class.dark-mode]="themeService.isDarkMode">
<div class="container-fluid guide py-5 locationBRANCH">
  <div class="container py-0">
      <div class="mx-auto text-start   mb-5">
          <h5 class="section-title px-3" style="margin-left: 50px;"  data-aos="fade-up"
          data-aos-duration="1000">LOCATIONS</h5>
          <h1 class="mb-0"  data-aos="fade-up"
          data-aos-duration="1000">Check Our Branches</h1>
      </div>
      <div class="row g-4" >
          <div class="col-md-6 col-lg-3 LOCATIONCENTER" data-aos="zoom-out-up">
              <div class="guide-item" >
                  <div class="guide-img">
                      <div class="guide-img-efects BGTEAMS1">
                          <div class="overlay"></div>
                          <!-- <img src="https://s3-alpha-sig.figma.com/img/3b5c/17aa/85abe622599e834db3bc37425dd03808?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=dQ8hSgPglAu7ziostaduFSFm6xYrXp6FMLPpGYEiaXxQhyCBQCIBytlLDSvL3CH0dw8fe68JuNlY9nYGAWAZ-z-4vzkw7Vtcu44o-YrPxtZhf-Y8WKi5SkX7WoAKGc5NXfUDGZV-RdLQVBMDbwtUEP44UdXrt-hUgCAAMgpwQjA9kOa8nt6fCz4GRecG48Il8yiH7uipis0ZKn1VpwgTVN3x9-qDL2PgADS9nJn0O180iBdVnoNCLPAW~yZgkrjg2CxWesw2inU2vKCVNjlSjj5-Vm~y15i8Iht~73IjtpLR6ISNDEJnwEk2Gcm9NmIxczPGC3SgCSHG7bNUitTQGw__" class="img-fluid w-100 rounded-top" alt="Image"> -->
                      </div>
                     
                  </div>
                  <div class="guide-title text-center rounded-bottom p-4">
                      <div class="guide-title-inner">
                          <h4 class="mt-3">BANGALORE</h4>
                          <p class="mb-0">18, 3rd Floor, Gamma Block,
                            Sigma Soft Tech Park,
                            Whitefield, Bangalore- 560066</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 LOCATIONCENTER" data-aos="zoom-out-up">
              <div class="guide-item">
                  <div class="guide-img ">
                      <div class="guide-img-efects BGTEAMS2">
                          <!-- <img src="https://s3-alpha-sig.figma.com/img/a43a/170d/ef8490204a26a1afde1d3bef5b5c688c?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=d1pA7mJiLqf0bcH3nZ72Of4-m~iuwDtH5ahYFJrxnn8qB4awCvufmZg5F9k~Jbz1ABchGyDkdrLWaTJE0kkge2ox-PYAb-hLcM8-oekWle7x5SswvgkLd6-gy1hgrRxNOCsQ1rxNWUc7ejUKbVFwJQuK2vM-gzYmsNYUXhoSH5HXm6HWJaeC96ZR8wVK50qCJtX8ucvYl808JW7bxB3APZDvXjrKkVSTJODUzkRWh1JIQXbJkQ5uRMiH6sEMhfGK2lxpllqjVXAVO~evdygVr70tF-mEzjson9dbrAhPIvoiITcJWUggsHRTuQ7Fye8aI-aNvc6nWa9rU-ooDaXNFQ__" class="img-fluid w-100 rounded-top" alt="Image"> -->
                      </div>
                     
                  </div>
                  <div class="guide-title text-center rounded-bottom p-4">
                      <div class="guide-title-inner">
                          <h4 class="mt-3">HYDERABAD</h4>
                          <p class="mb-0">-2-1/1/1, 2nd Floor,
                            Mansarovar Building, Srinagar
                            Colony Main Rd, Above SBI,
                            Hyderabad- 500082</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 LOCATIONCENTER" data-aos="zoom-out-up">
              <div class="guide-item">
                  <div class="guide-img ">
                      <div class="guide-img-efects BGTEAMS3">
                          <!-- <img src="https://s3-alpha-sig.figma.com/img/a780/cb20/0e049e91b07481e81c62d40f591864e9?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=YrnRt3iSjFdm1JXQY9Hzc1VUpylyXdt7FcJZYvuH3C-bnfxZXOq1wVovK8DV~E9ZJD0b6~md3I1p5epcCGp5-z5Ykz8~BMcQZB8110hmf6mzD88jxm4QFsVEXR60ND~1zciVgmMoDDRVM89XlhVNn0zN9ALeMKrvit3L6AJMeZNX8VJYBo-P3JUjcMEjakNF-fUPVlf9GP0n-xN2CgeziZwj3lGfIqn2CDJO4N3hCV2uYxSueXjuFFOk2jmhlwhB8yPbNG4IcvFq5G2sitaLeLzD7NlLmLMpoXeOpAQR2tLvvlIhwCm5-I9rVEp~Xa86bca3p8kLcatlQ1HMZ3c7eQ__" class="img-fluid w-100 rounded-top" alt="Image"> -->
                      </div>
                     
                  </div>
                  <div class="guide-title text-center rounded-bottom p-4">
                      <div class="guide-title-inner">
                          <h4 class="mt-3">AUSTRALIA</h4>
                          <p class="mb-0">15 Dromana Way, Truganina,
                            Victoria, Australia- 3029.
                            </p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-6 col-lg-3 LOCATIONCENTER" data-aos="zoom-out-up">
              <div class="guide-item">
                  <div class="guide-img ">
                      <div class="guide-img-efects BGTEAMS4">
                          <!-- <img src="https://s3-alpha-sig.figma.com/img/854b/94a7/e51b562bc4f521e346d74083247f4ded?Expires=1711324800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AJ-k4RAVNU91KbV2Z1HqcR8Ji~AuNOBTBtdVHjOldwaU06idRw85~EOKvqRxe-pzZ6daMyvWntjAVK1JXNiKwzhbNTu0~s4iyRbtsidKzXwBn7V~bEO9HnsTp4l-SAFfBqwRhX1MeHB35BumL-Abv54B2e7oWalqbzoUjf~egpGPkaMAWutrvDyh6G4Sz5XRv6vYKRZlLFye9-cAPxREs9L5mf3ViQZeO9gOhCCgu7k1dMZ-Hrzyf~RvG6dxnvZBFX2xCpaqTIN2ApDymoAFcGx80rnBZeNgDxedFIerK26W0GqCu8K9tdoBtvCj5AXL998S2o07aziwSeAiJo~a~w__" class="img-fluid w-100 rounded-top" alt="Image"> -->
                      </div>
                      
                  </div>
                  <div class="guide-title text-center rounded-bottom p-4">
                      <div class="guide-title-inner">
                          <h4 class="mt-3">CANADA</h4>
                          <p class="mb-0">30 Ryler Way, Markham,
                            ON, Canada- L3S0E7</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- <div class="mx-auto text-center">
          
          <button class="buttonwhoare">Know more</button>
      </div> -->
  </div>
</div>
</div>