 <!-- Theme Mode -->
 <div *ngFor="let item of demo">
<section class="HEROSEC-HeroSection1">
    <div class="HEROSEC-container container">
      <div class="HEROSEC-left-content"  >
        <span class="HEROSEC-WelcomeTOHE" data-aos="fade-up" 
        data-aos-duration="1000">{{item.Label_welcome}}</span>
        <!-- <span class="HEROSEC-WelcomeTOHERI" data-aos="fade-up"
        data-aos-duration="1000">Ridhitek</span> -->
        <div class="HEROSEC-second-content1" data-aos="fade-up"
        data-aos-duration="1000">{{item.Label_DigitalTransformation}}</div>
        <div class="HEROSEC-second-content2" data-aos="fade-up"
        data-aos-duration="1000">IT Solutions & Services.</div>
        <h5 class="HEROSEC-HeroComAbout" data-aos="fade-up"
        data-aos-duration="1000">Recruiting industry specialists with extensive experience in Pvt Ltd and corporate recruitment founded Ridhitek in 2024 as a digital transformation IT consulting and services company.</h5>
       <a href="#whoweare"><button class="HEROSEC-button" >Get Started</button></a>
      </div>
      <div class="HEROSEC-right-content" data-aos="fade-up"
      data-aos-duration="1000">
        <!-- <img src="https://s3-alpha-sig.figma.com/img/40b0/093b/173043558c40f6ca46fbfd0cb3a19700?Expires=1711929600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=azLSHF~GbJ7QPRTxd-PqBxLnNpIbgqD80eG2n2wmCfodUzz0WJEQE~5YLIsKvBTH~DuWqm4nb5TFawYl~zm3OlCxqmmCzlD9RjekNDVymzN9lugYgwsEsA7I5p92kW~WAeDznu6Uc24dKktQNSttUfUBRlkBVDxtvys0GBj4BRe3zYv8HUED91bRzl3KCy2jX5mdHFmbyAAQtQSLiCL8FjfznnIzq16-eXPkgiNxxiHgiJnM3qR0QKap2YcPluHJrfZaADjDm3QeSortRTMKmYHqj33JMgvM-FHd1tMM5arbQPPhTsuT0L3jDieRri6Rb9GXMGFzPUd1Ok5rr7dQEg__" alt="Your Image"  style="max-width:100%; height: auto;"> -->
        <!-- .//src/assets/IMAGES/Hero.png -->
        <img src="/assets/IMAGES/Right-hero.jpeg"  alt="Your Image"  style="max-width:100%; height: auto;" >
       </div>
    </div>
  </section>
 
 
</div>
  
