 <!-- Theme Mode -->
 <div  [class.dark-mode]="themeService.isDarkMode">
<div class="wrapper-aboutus">
    <main> 
      <div class="CommonBanner__CommonBannerWrapper-sduui5-0 rYiHD home_wrapper-aboutus d-flex align-items-center undefined">
        <div class="container">
          <div class="row justify-content-center aboutcontent1-aboutus">
            <div class="col-xl-7 col-lg-9 about-uspad" >
              <div class="home-text-aboutus">
                <span class="text-white  oursp1-aboutus" data-aos="fade-up"
                data-aos-duration="1000">Our</span>
                <span class="oursp2-aboutus" data-aos="fade-up"
                data-aos-duration="1000">Story Begins Here</span>
                <p class="text-white badge_top-aboutus" data-aos="fade-up"
                data-aos-duration="1000">At RidhiTek, our core mission is unwavering: to make a lasting, positive impact. Our highly skilled and dedicated team embodies our collective principles, turning them into reality every day. By merging innovative solutions with our pooled expertise, we achieve remarkable results.</p>
              </div>
            </div>
            <div class="col-xl-5 col-lg-3 Abouthero-aboutus" data-aos="fade-up"
            data-aos-duration="500">
              <img src="https://s3-alpha-sig.figma.com/img/8ad6/aefd/25f2477f571142c72fccc54ebce4d831?Expires=1711929600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Tk3zdCCrj9RslMUK6q8AoiLm77efy7SKewJUr31hpg2DpRCZRFcbz6CUvE22MEnXvomjYmn~Ett-BLIA16TQDhHJLVNj2AU-2wp~YqAnZjmNQBecGp-KILvdml3k33vxojAYl~QwoBmzpa2P6D1gFGWkjTzm0BTCNYzllps1GA-9NBy3JkR2jNvvQTRSysWd3qC13dTqsRtfGjz3vJBap7dLBSP0BNJ1xSGOLNbEB4uXGQCKEZriyxwQoUr0rZW7~ZeY4KQLzQNmf~AyZvKEncCA97vI0x6GnHYjiI3QWsLvmXTANNLzUv56E9IDRTXjYCJoo7Q5XW-GYj8xOPszgg__" alt="Your Image" class="img-fluid">
            </div>
          </div>
          <div class="row justify-content-between founded_wrapper counter-aboutus ">
            <div class="col-md-6 col-lg-3 mt-3">
              <div class="card text-center bgcards-aboutus text-white">
                <div class="card-body-aboutus">
                  <h3 class="title_2-aboutus">1 Years</h3>
                  <p class="card-text-aboutus">Years of Service</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-3">
              <div class="card text-center bgcards-aboutus text-white">
                <div class="card-body-aboutus">
                  <h3 class="title_2-aboutus">200+</h3>
                  <p class="card-text-aboutus">Employees</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-3">
              <div class="card text-center bgcards-aboutus text-white">
                <div class="card-body-aboutus">
                  <h3 class="title_2-aboutus">50+</h3>
                  <p class="card-text-aboutus">Trusting Clients</p>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3 mt-3">
              <div class="card text-center bgcards-aboutus text-white">
                <div class="card-body-aboutus">
                  <h3 class="title_2-aboutus">4</h3>
                  <p class="card-text-aboutus">Countries</p>
                </div>
              </div>
            </div>
          </div>    
        </div>
      </div>
    </main>
  </div>
  </div>

