 <!-- Theme Mode -->
 <div  [class.dark-mode]="themeService.isDarkMode">
<section class="section-carousel ">
        <div class="slide-container swiper"  data-aos="fade-up"
        data-aos-duration="1000">
            <div class="slide-content">
                <div class="card-wrapper swiper-wrapper">
                    <!-- 1st card -->
                    <div class="card-carousel swiper-slide">
                        <div class="image-content">
                            <div class="card-image">
                                <img src="https://s3-alpha-sig.figma.com/img/4ed7/0b00/0350a929cb77ae474fba1da397fab6da?Expires=1711929600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RrvfDcyQPkcN3jLl5QYjF0aPes61v08cWqHVO2PKaHAlAL7Svwy9OEduXDIgFRZv9fK4dFmvG9iAZg5uc8mUsNGrMtPmwTXYnNwFlbEg0sLcoL-kmUTd9Av-mgra94a-07s-N4-WhuKx7ACJxP~t-Bw1XS-4ffVGV3KrV7cfrYz9tgFkTG7Wi6GYIXpYS75DGVjXIUbVoPqTQCSWejsl3aEu9c3aFIUdgol1jRBF-njePL8l17JCbuadcsz~bFeLnm6gjAJ-op6PXBpK2VwwOEcSKebZMOHnuZ~gnAjmPZzBsVEa-Yu1D16Y47mMfXBHaLvbcuFJM6Pdhb6t8R35aw__" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Payments</h2>
                            <p class="description">Accelerating digital payment adoption.</p>
                            <a href="" class="buttonservi-carousel"> View More <img src="https://static.vecteezy.com/system/resources/thumbnails/008/844/878/small/arrow-icon-design-free-png.png" alt="arrow"></a>
                        </div>
                    </div>
                    <!-- 2nd card -->
                    <div class="card-carousel swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="https://s3-alpha-sig.figma.com/img/7585/ee20/0fed9b7f309019164619dc3ea8985718?Expires=1711929600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=AqIApYANj8Fa4X5h6pqJ4kSUJkl0C0kufSY-Q8xZllTyttcWoleRewWgTDY8Pjmgz1e9L5AlmVGs5wZtG3lnU2Lz2b8WmrXRUcG5jDTPKn492oiq4nTtFrTrkVFq-5W1OaybPmcteEKCDWYAF0EwkbAlfsJPWfzQTfb6J-DzemaXBPPxRdo2CFfuomTIcfVbERuhRl5AR6LU-FdbXteC1qY0DqvVlMkdD7lzn~ELH9MUP4DKgvqn9zu9TfeGZinI35Fo8RhgCp2BgfOkOkOk166NJE5Gxs9LQ6ORinh78f7H34haqqWgDDCRIsfYCrajQznCHs3aPM-jf8kq0tLKxQ__" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Lendings</h2>
                            <p class="description">Ushering digitalization and embedded finance.</p>
                            <a href="" class="buttonservi-carousel"> View More <img src="https://static.vecteezy.com/system/resources/thumbnails/008/844/878/small/arrow-icon-design-free-png.png" alt="arrow"></a>
                        </div>
                    </div>
                    <!-- 3rd card -->
                    <div class="card-carousel swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="https://s3-alpha-sig.figma.com/img/48e0/84f3/901bfb77f0571100d072f5594d683d85?Expires=1711929600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ZingSdE7XDbFZWnqMjLb6nynHLQWm1Jw6sr9-jRLl-0qYWPsU3U1ug8KQIIP6NBO4xDNSSA2pdLIKsVsqlZYca54Npa08GcLcUE0gl4BaSeIsunB66X0L7XkiJpCACTVaj6wLEsIY0oWG6st28mU6rKlkD47MeHFGUeJfQwbeefRjWfCVNI6s5js~bnY8XFadew1qIzzSNJLnom3ENb5oCZ535i5jMYe-q4UqKkHORGb4paGjv56XkhYLF9xkrJojGPQ1pE38~MgWPZX0xwv-8h2M2Lbpfme3VDbyLb2Y~dVZBm2qO~RihQIngjtVX1tvX1~~Q9Ir-zCPnoxdup~Jw__" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Cards</h2>
                            <p class="description">Enabling progressive cards initiatives.</p>
                            <a href="" class="buttonservi-carousel"> View More <img src="https://static.vecteezy.com/system/resources/thumbnails/008/844/878/small/arrow-icon-design-free-png.png" alt="arrow"></a>
                        </div>
                    </div>
                    <!-- 4th card-->
                    <div class="card-carousel swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="https://s3-alpha-sig.figma.com/img/4ed7/0b00/0350a929cb77ae474fba1da397fab6da?Expires=1711929600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RrvfDcyQPkcN3jLl5QYjF0aPes61v08cWqHVO2PKaHAlAL7Svwy9OEduXDIgFRZv9fK4dFmvG9iAZg5uc8mUsNGrMtPmwTXYnNwFlbEg0sLcoL-kmUTd9Av-mgra94a-07s-N4-WhuKx7ACJxP~t-Bw1XS-4ffVGV3KrV7cfrYz9tgFkTG7Wi6GYIXpYS75DGVjXIUbVoPqTQCSWejsl3aEu9c3aFIUdgol1jRBF-njePL8l17JCbuadcsz~bFeLnm6gjAJ-op6PXBpK2VwwOEcSKebZMOHnuZ~gnAjmPZzBsVEa-Yu1D16Y47mMfXBHaLvbcuFJM6Pdhb6t8R35aw__" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Digitalization</h2>
                            <p class="description">Enabling progressive cards initiatives.</p>

                            <a href="" class="buttonservi-carousel"> View More <img src="https://static.vecteezy.com/system/resources/thumbnails/008/844/878/small/arrow-icon-design-free-png.png" alt="arrow"></a>
                        </div>
                    </div>
                    <!-- 5th card  -->
                    <div class="card-carousel swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>
                            <div class="card-image">
                                <img src="https://s3-alpha-sig.figma.com/img/4ed7/0b00/0350a929cb77ae474fba1da397fab6da?Expires=1711929600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RrvfDcyQPkcN3jLl5QYjF0aPes61v08cWqHVO2PKaHAlAL7Svwy9OEduXDIgFRZv9fK4dFmvG9iAZg5uc8mUsNGrMtPmwTXYnNwFlbEg0sLcoL-kmUTd9Av-mgra94a-07s-N4-WhuKx7ACJxP~t-Bw1XS-4ffVGV3KrV7cfrYz9tgFkTG7Wi6GYIXpYS75DGVjXIUbVoPqTQCSWejsl3aEu9c3aFIUdgol1jRBF-njePL8l17JCbuadcsz~bFeLnm6gjAJ-op6PXBpK2VwwOEcSKebZMOHnuZ~gnAjmPZzBsVEa-Yu1D16Y47mMfXBHaLvbcuFJM6Pdhb6t8R35aw__" alt="" class="card-img">
                            </div>
                        </div>
                        <div class="card-content">
                            <h2 class="name">Application</h2>
                            <p class="description">Enabling progressive cards initiatives.</p>
                            <a href="" class="buttonservi-carousel" routerLink="application"> View More <img src="https://static.vecteezy.com/system/resources/thumbnails/008/844/878/small/arrow-icon-design-free-png.png" alt="arrow"></a>
                        </div>
                    </div>
                    <!-- 6th card-->
                    <div class="card-carousel swiper-slide">
                        <div class="image-content">
                            <span class="overlay"></span>

                            <div class="card-image">
                                <img src="https://s3-alpha-sig.figma.com/img/4ed7/0b00/0350a929cb77ae474fba1da397fab6da?Expires=1711929600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RrvfDcyQPkcN3jLl5QYjF0aPes61v08cWqHVO2PKaHAlAL7Svwy9OEduXDIgFRZv9fK4dFmvG9iAZg5uc8mUsNGrMtPmwTXYnNwFlbEg0sLcoL-kmUTd9Av-mgra94a-07s-N4-WhuKx7ACJxP~t-Bw1XS-4ffVGV3KrV7cfrYz9tgFkTG7Wi6GYIXpYS75DGVjXIUbVoPqTQCSWejsl3aEu9c3aFIUdgol1jRBF-njePL8l17JCbuadcsz~bFeLnm6gjAJ-op6PXBpK2VwwOEcSKebZMOHnuZ~gnAjmPZzBsVEa-Yu1D16Y47mMfXBHaLvbcuFJM6Pdhb6t8R35aw__" alt="" class="card-img">
                            </div>
                        </div>

                        <div class="card-content">
                            <h2 class="name">Wavemaker</h2>
                            <p class="description">Enabling progressive cards initiatives.</p>
                            <a href="" class="buttonservi-carousel" routerLink="/wavemaker"> View More <img src="https://static.vecteezy.com/system/resources/thumbnails/008/844/878/small/arrow-icon-design-free-png.png" alt="arrow"></a>
                        </div>
                    </div>
                </div>
            </div>
           <div class="swiper-button-next swiper-navBtn"></div>
            <div class="swiper-button-prev swiper-navBtn"></div>
            <div class="swiper-pagination"></div>
        </div>
        
    </section>
 </div>