 <!-- Theme Mode -->
 <div  [class.dark-mode]="themeService.isDarkMode">
<section class="contact-section-contactup ">
    <div class="contact-container-contactup container">
      <div class="contact-left-contactup ">
        <h2 data-aos="fade-up"
        data-aos-duration="1000">Contact Us</h2>
        <p data-aos="fade-up"
        data-aos-duration="1000">We would Love To Hear From You</p>
      </div>
      <div class="contact-right-contactup" data-aos="fade-up"
      data-aos-duration="1000">
        <img src="https://s3-alpha-sig.figma.com/img/780d/7a58/661decc5c81361de2f667da1f2b6343a?Expires=1711929600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Fbl4LtVWf~lDxx8Rmw5M90HLYENU9nn6qikZvq2ZcmK9o1zrY4vGUs0YajOuYCc70kwa1VvUJUDz9VH5PfrKSQmwHOF4ezkPURh848Irj7zikDL~iCpjTCja1buHRaqGWdykn67J3AZGTBC7v5x5Wk8SfIR47HH-OveKBvyFyR0YXsw2hCf63okqoGKdKtmHeV-fXop~lZO7BvvFG-us3GWYYiS3bssb8T~qEzF-6N0WZmWmU7lURW4UPagxlzWSx5~UK0b16jshYgXtM-8snZgUmLeG4iFC4B4S55F3nLcgiAK019L37RJD3aSaykgs-Lte1B8toHIpIXA286uzbA__" alt="Contact Us Image">
      </div>
    </div>
  </section>
  </div>
