 <!-- Theme Mode -->
 <div  [class.dark-mode]="themeService.isDarkMode">
<div class="container" id="hi">
  <div class="containerOverviewAbout-aboutOverview">
       <div class="leftOverviewAbout-aboutOverview" data-aos="fade-up"
            data-aos-duration="1000">
             <img src="https://s3-alpha-sig.figma.com/img/d012/5b77/f1a9a5cfa05f956e91bf4450dfdf5fa0?Expires=1711929600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=XMux7zgdeFZWD4ZoFoYAYmy5zGRr6QMtBWX4dGy-80UhAH0wm~ZpxXloSLOuFLWErJdcueQze0AzRCRsTp-NIacPKbzHy4d8aoBbUmlKlbSI8jRzSLenTfMXIYayt7vaY8sQqXyaPBsGjN8Uqgco8ipHKRquUOrWYSydntbvSbqQu47rSpHHmHk85pMkqkR0~AbGFhv3600Jj9ITdYKpEdtujF~4d9hAcl6RJYrqMxTPip~1-4mEqc2azOixS56tzqOf4o~3vHi67gZahzzxXEbYmUYFnvAlZHVengyPe5YRSrN2mEieUO8GrJlig11pDtFrFmoX868khpqlKY-7TQ__" alt="Left Image">
       </div>
      <div class="rightOverviewAbout-aboutOverview" >
      <h2 data-aos="fade-up"
            data-aos-duration="1000">OVERVIEW</h2>
            <p data-aos="fade-up"
            data-aos-duration="1000">
               Originally established as a specialized provider of technological services and solutions, Ridhitek was limited to the card, payment, and lending industries. With our next-generation digital services and consultancy, we help clients in 15 countries navigate their digital transition.
            </p>
            <p data-aos="fade-up"
             data-aos-duration="1000">
             We professionally guide our clients through their digital transformation projects thanks to our more than ten years of experience managing systems and working for financial institutions, third-party payment processors, and fintech companies. We are able to create exceptional project delivery experiences and performance levels never before seen thanks to our deep domain expertise, technological know-how, and application level competence in the three areas. Positively outrageous client delight is the result.
             </p>
      </div>
  </div>
</div>
</div>