 <!-- Theme Mode -->
 <div  [class.dark-mode]="themeService.isDarkMode">
<!-- <div class="container"> -->
<section class="mainservice">
    <div class="container1service">
        <h3 class="servi1"  data-aos="fade-up"
        data-aos-duration="1000">Services</h3>
        <h1 class="servi2"  data-aos="fade-up"
        data-aos-duration="1000">Some Of our</h1>
        <h1 class="servi3"  data-aos="fade-up"
        data-aos-duration="1000">best services</h1>
        <h5 class="servi4"  data-aos="fade-up"
        data-aos-duration="1000">RidhiTek is committed to excellence, providing unparalleled support models to accompany our clients on their product journey.</h5>
        <a href="#" class="buttonserviservice">Know more <img src="https://static.vecteezy.com/system/resources/thumbnails/008/844/878/small/arrow-icon-design-free-png.png" alt="Arrow Icon" width="20"></a>
    </div>
    <div class="container2service">
        <app-carousel-cards></app-carousel-cards>
    </div>
</section>
 </div>
<!-- </div> -->
