
 <!-- Theme Mode -->
 <div  *ngFor="let item of demo">
  
<div class="" style="padding: 0;" id="whoweare">
    <div class="containerwhoareu container" >
    <div class="content" data-aos="fade-up"
    data-aos-duration="1000" >
        <h3 class="who1">{{item.Label_welcome}}</h3>
        <h1 class="who2">{{item.Label_welcome}}</h1>
        <h1 class="who3">Business With Us</h1>
        <h5 class="who4">RidhiTek is a forward-thinking technology services firm that is transforming business processes and enhancing customer engagement with our technology-first approach, aiming for unparalleled business success. As specialists in Cards, Payments, and Lending, we redefine technology services in these sectors.</h5>
        <a href="#" class="buttonwhoare" routerLink="/Contact_Us">Get In Touch</a>
        <!-- <img src="https://static.vecteezy.com/system/resources/thumbnails/008/844/878/small/arrow-icon-design-free-png.png" alt="Arrow Icon" width="20"> -->
      </div>
      <div class="whoareuimg" data-aos="fade-up"
      data-aos-duration="1000">
        <img src="https://s3-alpha-sig.figma.com/img/1122/9580/2152b9fcfaa4a3e5f5cea4581022f970?Expires=1711929600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=RJjPfaS35ob84POy-jAvmU6AvjRzZsO09uZlkc1R9lZFKOAiPIjq1ojcThdYZh4LfDHhOJn1g9S2vwlT1WO0T3-l7sfuNiehjLQUqSS1N6sbqyPkyBCWIaH4PjHdfmCziWxf~G4Tap5k6hCohORlwOQMUTBThYSy-O2n8KkPE8wr2idgYybDkwu8Ack~CkVKEQUo6CAvUyIIrFLn-Vte3jT3QFtQkroZTOC6fPlYdccJCRB-o-tINnn3KSREoBIcWKYTNOLixW24jw22e3Psbs8ivSNJv6p~aYK6jBc7OSoSPwKJaKgfQN-r7Ygg4Q-NkGvAUSD0uevuUPx9jb9MAQ__" alt="Your Image" width="100%">
      </div>
    </div>
  </div>
  </div>
